// RESET
body {
	text-align: center;
	margin: 60px;
	background-color: $purple-bg;
	@include respond(phone) {
    margin: 60px 10px;
  }
	@include respond(tab-land) {
		margin: 60px 10px;
	}
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

a {
	text-decoration: none;
}

* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	color: $white;
	font-weight: $weight-regular;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.swal2-container {
  z-index: 20000 !important;
}
