// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
$small-font-size: 2rem;

// FONT WEIGHTS
$weight-regular: 400;
$weight-medium: 500;
$weight-semibold: 600;

// BOX-SHADOWS;
$box-shadow-lg: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
$box-shadow-sm: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);

// KLEVER THEME COLORS
$purple-bg: #14152c;
$white: #fff;
$purple-btn: #aa33b5;
$purple-btn-dk: #84118f;
$grey-btn: #555;
$grey-btn-lt: #777;
$red-btn: #aa3838;
$red-btn-dk: #812525;
